*{
    margin: 0px;
    padding: 0px;
}
body{
    overflow-x:hidden;
}
.content {
    position: relative;
    width: 100%;
    height: 4500px;
    background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
}
.header {
    position: absolute;
    width: 1248px;
    height: 754px;
    left: 240px;
    top: 50px;
}
.background {
    position: absolute;
    width: 885px;
    height: 468px;
    left: 363px;
    top: 286px;
    background-image: url(images/image1\ 1\ \(1\).svg);
}
.component {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1120px;
    height: 60px;
    left: 240px;
    top: 50px;
}
a {
    text-decoration: none;
    color: #4B5D68;
}
.header-navigation a:first-child {
    color: #212353;
}
.header-navigation {
    position: absolute;
    width: 322px;
    height: 30px;
    left: 170px;
    top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 160%;
}
a:hover {
    color: #ee22a0;
}
button:hover {
    background: #5b04a1;
}
.request-button {
    position: absolute;
    width: 210px;
    height: 60px;
    left: 900px;
    top:2px;
    font-family: 'Poppins';
    font-weight: 800;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    border: none;
    cursor: pointer;
}
.request-button>img {
    margin-left: 20px;
}
.header_content {
    position: absolute;
    width: 645px;
    height: 464px;
    top: 240px;
}
.title {
    width: 645px;
    height: 184px;
    left: 240px;
    top: 240px;
    bottom: 50px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    display: flex;
    align-items: center;
    color: #212353;
}
.text {
    position: absolute;
    width: 380px;
    height: 120px;
    margin: 50px 265px 110px 0px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}
.header-button {
    position: absolute;
    width: 170px;
    height: 60px;
    top: 404px;
    background: #9C69E2;
    border-radius: 50px;
    outline: 0px;
    border: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    cursor: pointer;
}
.part_one {
    position: absolute;
    width: 1117px;
    height: 560px;
    left: 240px;
    top: 903.18px;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
}
.part_one_title {
    position: absolute;
    width: 475px;
    height: 100px;
    left: 550px;
    top: 125px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #212353;
}
.part_one_txt {
    position: absolute;
    width: 474px;
    height: 170px;
    left: 550px;
    top: 265px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}
.part_one_img {
    position: absolute;
    width: 477px;
    height: 504px;
    left: 11px;
    top: 31.82px;
}
.part_second {
    position: absolute;
    width: 1136.85px;
    height: 1002.06px;
    left: 220px;
    top: 1613px;
}
.part_second_h {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.part_second-title {
    height: 52px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #212353;
    margin-bottom: 50px;
}
.part_second-txt {
    height: 58px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #4B5D68;
    margin-bottom: 50px
}
.part_second_content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 100px;
    column-gap: 70px;
}
.part_second_content1 {
    max-width: 535px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}
.epart_second_component1 {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.part_second_img1 {
    max-width: 232px;
    max-height: 211px;
    align-self: center;
}
.part_second_text1 {
    width: 200px;
    height: 160px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
    margin-bottom: 20px;
}
.part_second_link1 {
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.part_second_link {
    text-decoration: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    align-items: center;
    letter-spacing: 0.005em;
    color: #212353;
}
.part_second_link1>a {
    margin-left: 20px;
    margin-top: 4px;
}
.part_second_title2 {
    width: 200px;
    height: 50px;
    font-family: "Roboto";
    font-style: bold;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #212353;
    margin-top: 67px;
    margin-bottom: 20px;
}
.part_third {
    position: absolute;
    width: 1118px;
    height: 709px;
    left: 242px;
    top: 2789px;
    background: #9C69E2;
    border-radius: 50px;
}
.part_third_title {
    position: absolute;
    width: 405px;
    height: 52px;
    left: 93px;
    top: 109px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.part_third_title2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 160%;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #212353;
    margin-top: 20px;
}
.part_third-component>a {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #9C69E2;
}
.part_third-component {
    width: 566px;
}
.part_third-content {
    display: grid;
    grid-template-columns: 25% 75%;
    flex-direction: column;
    width: 743.02px;
    height: 220px;
    padding: 60px 10px 50px 100px;
}
.part_third_txt {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 180%;
    color: #4B5D68;
    margin-top: 19px;
}
.info {
    width: 949px;
    height: 330px;
    margin-left: 93px;
    margin-top: 249px;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 0px 20px 0px #8a56da;
}
.slider {
    margin-top: 63px;
    display: flex;
    justify-content: space-between;
}
.arrow1 {
    margin-left: 785px;
}
.arrow2 {
    margin-right: 10px;
}
.line {
    position: absolute;
    width: 1600px;
    height: 2px;
    left: 0px;
    top: 3648px;
    background: #9C69E2;
    opacity: 0.2;
}
.part_fourth {
    position: absolute;
    width: 1118px;
    height: 761px;
    left: 240px;
    top: 3648px;
}
.part_fourth-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 103px;
}
.part_fourth-box1 {
    width: 584px;
    height: 101px;
}
.part_fourth_title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #212353;
    margin-bottom: 20px;
}
.part_fourth_txt {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}
.part_fourth-box2 {
    width: 410px;
    height: 60px;
    left: 302px;
    display: flex;
    justify-content: space-between;
}
.btn-fourth1 {
    width: 170px;
    height: 60px;
    background: #F063B8;
    border-radius: 50px;
    border: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.btn-fourth2 {
    width: 210px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    align-items: center;
    letter-spacing: 0.005em;
    color: #212353;
    border: none;
}
.btn-fourth2>img {
    margin-left: 20px;
}
.footer {
    width: 1117px;
    height: 405px;
    margin-top: 180px;
    display: grid;
    grid-template-columns: 5fr 2fr 2fr 3fr;
    column-gap: 10px;
}
.footer-title {
    display: flex;
    align-items: start;
    margin-bottom: 65px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 160%;
    color: #212353;
}
.footer-title>img {
    margin-right: 20px;
}
.adress {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
    margin-bottom: 10px;
}
.contact {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
}
.copyright {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 180%;
    align-items: center;
    letter-spacing: 0.01em;
    color: #212353;
    margin-top: 118px;
}
.footer-list>ul {
    list-style: none;
}
li {
    margin-bottom: 20px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 250%;
    color: #212353;
}
li:hover {
    color: #bd5aeb;
}
.footer2-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
    margin-bottom: 30px;
}
.footer_link>a {
    margin-right: 14px;
}
.socialmedia:hover{
background-color:rgb(148, 4, 243);
border-radius:50px;
}
.mail>img {
    margin-top: 223px;
    margin-left: 210px;
}
.part_second_link:hover{
    color: rgb(250, 6, 169);
}