body {
    background-color: rgb(53, 52, 52);
    color:rgb(227, 230, 227);
    font-family: Arial, Helvetica, sans-serif;
}
table {
    border:1px solid grey;
    text-align: left;
    width: 55%;
    margin:35px;
    border-radius:5px;
    border-spacing: 0px;
    padding:0px;
}
th{
    padding: 10px;
  }
  td{
    border-top:1px solid grey;
    padding: 10px;
    width: 35%;
  }
  .dots::after {
    content: '•••';
    font-size: 11px;
    text-align:right;
    color: rgb(253, 251, 251);
    float: right;
}
#search{
    font-size: 15px;
    background-color: rgb(92, 91, 91);
    border: none;
    border-radius: 5px;
    padding:3px 0px 3px 25px;
}
.search-input{
  position: right;
  width: 70%;
  height: 100%;
  margin:auto;
 }
.arrow {
  width: 1px;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid white;
  text-align: right;
  display:inline-block;
}
.img{
  width:15px;
  height:15px;
}
input{
  background-image: url(images/loupe.png);
  background-repeat: no-repeat;
  
}
.color{
  color:grey;
}